.principal-container {
    padding-left: 0;
    padding-right: 0;
    width: auto;
}

#title {
    text-align: center;
    margin-top: 3%;
}

.container #title {
    text-align: center;
}

.game-options {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    text-align: center;
    max-width: 1750px;
}

.input-form {
    display: -webkit-box;
    flex-direction: row;
    margin: 0px auto;
    flex-wrap: nowrap;
}

.input-form #input-form-option {
    margin-left: 35px;
    flex-wrap: nowrap;
}

.level-form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 70px;
}

.reset-button {
    margin: 0px auto;
}

.container {
    --bs-rows: 3;
    height: 550px;
}

.principal-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    text-align: center;
    vertical-align: middle;
    align-content: space-around;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 1000px;
    min-width: 375px;
}

.row {
    flex-wrap: nowrap;
    height: 33%;
}

.col {
    align-self: center;
}

.cell {
    border: solid;
    border-width: thin;
    height: -webkit-fill-available;
    font-size: 100px;
}

#cellIndex0, #cellIndex1, #cellIndex2 {
    border-top: none;
}

#cellIndex0, #cellIndex3, #cellIndex6 {
    border-left: none;
}

#cellIndex2, #cellIndex5, #cellIndex8 {
    border-right: none;
}

#cellIndex6, #cellIndex7, #cellIndex8 {
    border-bottom: none;
}

.status-container {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    text-align: center;
    max-width: 1750px;
}

.status-container #statusPlayer {
    color: red;
    text-align: center;
}

.status-labels {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: x-large;
}

.status-labels #statusTitle {
    margin-right: 10px;
    flex-wrap: nowrap;
}